 .skills-container{
    margin-top: 0 ;
    position: relative;
    color: #fff;
    background-color: #060417;

}

.skill-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7c5fe6;
    border-radius: 0.7rem;
    border: 1.5px solid #7c5fe6;
    position: absolute;
    top: -1rem;
    left: -1rem;
    transition: background 0.3s ease; 
}
.skill-icon img{
    width: 90px;
    height: auto;
}

.skills-contantainer h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.skills-content{
    display: flex;
    align-items: flex-start;
    gap:3rem
}

.skills{
    flex: 1;
    display: grid;
    grid-gap:3rem;
    grid-template-columns: repeat(2,1fr);
}

.skills-info {
    flex: 1;

} 