 .skills-container{
    margin-top: 0 ;
    position: relative;
    color: #fff;
    background-color: #060417;

}
.skills-container::after,
.skills-container::before
{
    content: "";
    width: 20rem;
    height: 10rem;
    border-radius: 28rem;
    background: #fff;
    position:absolute;
    z-index: 1;
    filter: blur(200px);
} 
.skills-container::after{
    top: -1rem;
    left: -rem;
} 

.skills-container::before{
    background: #7c5fe6;
    bottom: 0rem;
    right: 0rem;
    filter: blur(170px);
} 

.skill-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7c5fe6;
    border-radius: 0.7rem;
    border: 1.5px solid #7c5fe6;
    position: absolute;
    top: -1rem;
    left: -1rem;
    transition: background 0.3s ease; 
} 

 .skill-icon img{
    width: 90px;
    height: auto;
} 

.skills-contantainer h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.skills-content{
    display: flex;
    align-items: flex-start;
    gap:3rem
}

.skills{
    flex:1;
    display: grid;
    grid-gap:3rem;
    grid-template-columns: repeat(2,1fr);
}

.skills-info {
    flex: 1;

} 