.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  background: #1b263b;
  background-image: url('./assets/img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 50%;
  text-align: left;
  color: #f0ebeb;
}

.hero-content h2 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6em;
  color: #666;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tech-icon {
  position: relative;
  width: 250px;
  height: 250px;
}

.tech-icon .image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 85%;
  box-shadow: 0 0 20px rgb(33, 146, 217);
}

.hero-img::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url('./assets/img/hero-icon.png');
  background-size: cover;
  border-radius: 10%;
}

.hero-container h2,
.hero-container p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.social-media a {
  margin: 0 15px;
  font-size: 30px; 
  color: #333; 
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #0077b5;
}


@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-img {
    margin: 0 auto;
  }

  .tech-icon {
    margin-bottom: 20px;
  }
}
